@import "~bootstrap/dist/css/bootstrap.min.css";

/* General Selectors */
body {
  background-color: green;
}

button {
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

/* Class Selectors */
.card {
  width: 225px;
  height: 350px;
  display: flex;
  justify-content: center;
  margin: 200px auto 20px auto;
  font-size: 70px;
  text-align: center;
  font-family: "Dancing Script", cursive;
  border: 2px solid black;
}

.textBox {
  display: flex;
  justify-content: center;
}

.icon1 {
  text-align: left;
  position: absolute;
  top: 0;
}

.icon2 {
  text-align: left;
  position: absolute;
  transform: rotate(180deg);
  right: 0;
  bottom: 0;
}

/* ID Selectors */
#change {
  margin-bottom: 20px;
}
